<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Server Rombar</title>
</head>
<body>
<div class="container">
  <h1>Database Output</h1>
  <ul th:each="record : ${records}">
    <li th:text="${record}"/>
  </ul>
</div>
</body>
</html>
